@using WebMVCnew.webModels
@using WebMVCnew.Services
@using WebMVCnew.ViewModels



@*@model  WebMVCnew.webModels.CartModels.Cart*@
@inject IIdentityService<ApplicationUser> identityService 

@{
    ViewData["Title"] = "My Cart";
}

<form method="post" id="cartForm">
    <div class="esh-basket">
        @Html.Partial("_Header", new List<Header>() {
            new Header() { Controller = "Catalog", Text = "Back to event catalog" } })

        @await Component.InvokeAsync("CartList", new { user = identityService.Get(User) })
    </div>
</form>